{% extends "base.html" %}
{% block content %}

<div class="flex flex-col items-center justify-center h-screen">

  <h1 class="text-5xl font-bold mb-10 text-center">
    How can I help you today?
  </h1>

  <div class="glass neon-border w-[700px] p-6 rounded-2xl">

    <form action="/new_chat">
      <input placeholder="Ask MedInsight anything..."
        class="w-full p-4 bg-black/40 rounded-lg text-lg">
    </form>

    <div class="flex justify-between mt-4 text-sm text-gray-400">
      <span>AI Medical Assistant</span>
      <span>Powered by RAG</span>
    </div>

  </div>

</div>

{% endblock %}