{% extends "base.html" %}
{% block content %}

<div class="container d-flex align-items-center justify-content-center vh-100">

  <div class="row w-100">

    <!-- LEFT ILLUSTRATION -->
    <div class="col-md-6 d-none d-md-flex align-items-center">
      <img src="https://cdn-icons-png.flaticon.com/512/3774/3774299.png" class="img-fluid">
    </div>

    <!-- FORM -->
    <div class="col-md-6">
      <div class="card p-5">

        <h2 class="text-center mb-3 text-primary">
          <i class="bi bi-heart-pulse"></i> MedInsight
        </h2>

        <form method="POST">
          <input name="username" class="form-control mb-3" placeholder="Username">
          <input type="password" name="password" class="form-control mb-3" placeholder="Password">

          <button class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3">
          <a href="/register">Create Account</a>
        </p>

      </div>
    </div>

  </div>
</div>

{% endblock %}